
- title = "Contact"
%title
  = "#{title}"+" | Ruby on Rails Tutorial Sample App"
%h1 #{title}
%p
  Contact the Ruby on Rails Tutorial about the sample app at the
  = succeed "." do
    %a{:href => "https://www.railstutorial.org/contact"} contact page